.container {
  padding-top: 120px;
  padding-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper {
  min-width: 1230px;
  display: grid;
  grid-template-columns: 320px auto;
  gap: 60px;
  justify-items: start;
  align-items: start;
}

.nav {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.nav__link {
  text-decoration: none;
  display: flex;
  align-items: center;
  min-height: 64px;
  cursor: pointer;
  color:#8585ad
}

.nav__link_active {
  color: #F2F2F3;
}
.description {
  text-align: left;
}
