.wrapper {
  box-sizing: border-box;
  border-radius: 40px;
  min-width: 720px;
  height: auto;
  background-color: rgba(28, 28, 33, 1);
  position: relative;
  z-index: 2;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}